*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: aquamarine;
    width:100vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}